<footer
  class="bg-dark text-light d-flex pt-3 pb-3 justify-content-center fixed-bottom"
>
  <div>
    <p>&copy; 2022 DhammaDevs</p>
    Made with the help of
    <a href="http://www.lighthouselabs.ca" target="_blank" class="text-light"
      >Lighthouse Labs</a
    >
  </div>
</footer>
